@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background: #2B192F;
  color: white;
  font-family: 'Montserrat';
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hero-wrapper {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2621168/bg_copy_copy.jpg");
  background-size: cover;
}

.wrapper {
  padding: 1.5em;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  font-weight: bold;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul li a {
  padding: 0 .6em;
}

.hiro-content {
  margin: 4em 0 2 em;
}

.hiro-content .subtitle {
  margin-bottom: 0;
}

.light-purple-wrapper {
  background: #351F3b;
}

.stats {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(130px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2em;
}

.stats li {
  margin-bottom: 1.5em;
}

.stats strong {
  font-size: 1.4em;
}

.stats span {
  display: block;
  text-transform: uppercase;
  font-size: 0.75em;
}

.arrows {
  display: none;
}

.extended-wrapper {
  padding: 0 1.5em 2em;
  max-width: 1230px;
  margin: 0 auto;
}

ul.carousal {
  margin-bottom: 1em;
}

ul.carousal li {
  background: #422847;
  padding: 1em;
  margin-bottom: 1em;
}

blockquote {
  margin: 0;
  font-size: 0.8em;
  line-height: 1.8em;
  margin-bottom: 1em;
}

cite {
  color: #E379FF;
  font-weight: bold;
  font-size: .8em;
  font-style: normal;
  position: relative;
  padding-left: 25px;
}

cite::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 6px;
  height: 1px;
  width: 20px;
  border-bottom: 1px solid white;
}

h2 {
  text-align: center;
  position: relative;
}

h2::before {
  content: '';
  position: absolute;
  height: 5px;
  width: 30px;
  background: #B728DC;
  top: -.3em;
}

.companies {
  text-align: center;
  opacity: 0.4;
}

.companies li {
  margin: 2em 0;
}

.companies .skillshare {
  width: 100px;
}

.companies .ps {
  width: 200px;
}

@media (min-width: 500px) {
  .companies {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
  }
}

@media (min-width: 650px) {
  body {
    font-size: 18px;
  }
  .wrapper {
    padding: 1.5em 4em;
  }
  .carousal-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .arrows {
    display: block;
    width: 40px;
    cursor: pointer;
    margin: 0.5em;
  }
  .right {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  ul.carousal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
  }
  ul.carousal li {
    margin-right: 1em;
    margin-bottom: 0;
    padding: 2em;
  }
  ul.carousal li:last-child {
    margin-right: 0;
  }
  .companies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 853px) {
  body {
    font-size: 20px;
  }
  .stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
  }
  .companies {
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
  }
  h1 {
    font-size: 2.5em;
  }
  .subtitle {
    font-size: 1.2em;
  }
  h2 {
    text-align: left;
    font-size: 2em;
  }
  .v-padding {
    padding: 4em;
  }
  .light-purple-wrapper {
    padding-bottom: 4em;
  }
  .move-up {
    margin-top: -7em;
  }
}
/*# sourceMappingURL=style.css.map */